body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main figure {
    display: flex;
    width: 600px;
    margin: 0;
}

main figure img {
    width: 100%;
}